@import "../../../../../mixins.scss";
.popularWrapper {
  padding: 20px 0;
  .heading {
    h1 {
      color: var(--blue);
    }
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @include md {
      justify-content: space-between;
    }
  }
}
