.searchWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .rightside {
    width: 100%;
    min-height: 700px;
    padding-top: 20px;
    h4 {
      text-align: center;
      font-weight: 500;
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  }
}
